/* p {
    background-color: rgba(213, 171, 135, 0.4);
    color: rgb(255, 255, 255);
}

body {
    background-color: cyan;
}

div {
    background-color: blue;
    color: white;
}

h1 {
    background-color: green;
}

h2 {
    background-color: orange;
} */

/* div {
    background-image: url(images/Shorts.jpg);
} */

body {
    /* background-image: url(images/Shorts.jpg); */
    /* background-image: repeat;    default
    background-repeat: repeat-x;
    background-repeat: repeat-y; */
    /* background-repeat: no-repeat;
    /* background-attachment: fixed;  default */
    /* background-attachment: scroll; */
    /* background-position: right top; */

    /* background: color image repeat attachment position; */

    background: orange url(images/shorts.jpg) no-repeat fixed right top;

}



/*
    RGB = RED-GREEN-BLUE

    RGBA = RED-GREEN-BLUE-OPACITY(0.0 - 1.0)

    #rrggbb
    00-ff
*/

